@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
    
html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;    
}

*, *::before, *::after {
box-sizing: inherit;
}

header {
    height: 90vh;
    width: 100%;
}

.dandi {
    position: absolute;
    left: 40px;
    top: 60px;
    width: 15rem;
    -webkit-animation: dandi-scale 20s  infinite;
    animation: dandi-scale 20s ease-in-out infinite alternate;
}

.seed-one {
    color: red;
    position: absolute;
    left: 160px;
    top: 150px;
    width: 4%;
   -webkit-animation: seed-travel-one 9s forwards;
    animation: seed-travel-one 9s forwards;
}

.seed-two {
    position: absolute;
    left: 160px;
    top: 150px;
    width: 6%;
    transform: rotate(30deg);
    -webkit-animation: seed-travel-two 7s forwards;
    animation: seed-travel-two 7s forwards;
}

.seed-three {
    position: absolute;
    left: 140px;
    top: 200px;
    width: 4%;
    transform: rotate(300deg);
    -webkit-animation: seed-travel-three 8s forwards;
    animation: seed-travel-three 8s forwards;
}

.seed-four {
    position: absolute;
    left: 170px;
    top: 150px;
    width: 5%;
    transform: rotate(90deg);
    -webkit-animation: seed-travel-four 12s forwards;
    animation: seed-travel-four 12s forwards;
}

.seed-five {
    position: absolute;
    left: 170px;
    top: 150px;
    width: 4%;
    transform: rotate(90deg);
    -webkit-animation: seed-travel-five 10s forwards;
    animation: seed-travel-five 10s forwards; 
}

.title {
    position: absolute;
    left: 180px;
    top: 300px;
    text-transform: uppercase;
    font-family: 'Sansita One', serif;
    letter-spacing: 4px;
}

.title p {
    text-transform: lowercase;
}

.ham-nav {
    position:absolute;
    width: 4rem;
    right: 10px;
    top: 80px;
}


@-webkit-keyframes dandi-scale {
    
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(1.2,1.2);
    }
}




@-webkit-keyframes seed-travel-one {
    
    0% {
        -webkit-transform: translateY(0px) rotate(50deg);
    }
    
    30% {
        -webkit-transform: translate(80px, -60px) rotate(100deg);
        }
    
    50% {
        -webkit-transform: translate(120px, -30px) rotate(-200deg);
        }
    
     67% {
        -webkit-transform: translate(180px, -80px) rotate(360deg);
        }
    
     85% {
        -webkit-transform: translate(230px, 100px) rotate(-200deg);
        }
    
    100% {
        -webkit-transform: translateX(300px) rotate(100deg);
}
    
}


@-webkit-keyframes seed-travel-two {
    
    0% {
        -webkit-transform: translateY(0px) rotate(50deg);
    }
    
    10% {
        -webkit-transform: translate(80px, -60px) rotate(-100deg);
        }
    
    25% {
        -webkit-transform: translate(120px, -30px) rotate(200deg);
        }
    
     40% {
        -webkit-transform: translate(180px, -80px) rotate(-360deg);
        }
    
     75% {
        -webkit-transform: translate(230px, 100px) rotate(200deg);
        }
    
    100% {
        -webkit-transform: translate(200px, -100px) rotate(260deg);
}
    
}

@-webkit-keyframes seed-travel-three {
    
    0% {
        -webkit-transform: translateY(0px) rotate(50deg);
    }
    
    30% {
        -webkit-transform: translate(80px, 60px) rotate(-100deg);
        }
    
    50% {
        -webkit-transform: translate(60px, 60px) rotate(200deg);
        }
    
     70% {
        -webkit-transform: translate(180px, -80px) rotate(-360deg);
        }
    
     90% {
        -webkit-transform: translate(230px, 100px) rotate(200deg);
        }
    
    100% {
        -webkit-transform: translate(100px, 200px) rotate(300deg);
}
    
}

@-webkit-keyframes seed-travel-four {
    
    0% {
        -webkit-transform: translateY(0px) rotate(50deg);
    }
    
    25% {
        -webkit-transform: translate(110px, 90px) rotate(-100deg);
        }
    
    55% {
        -webkit-transform: translate(130px, -60px) rotate(200deg);
        }
    
    67% {
        -webkit-transform: translate(140px, 80px) rotate(-360deg);
        }
    
     85% {
        -webkit-transform: translate(300px, 60px) rotate(200deg);
        }
    
    100% {
        -webkit-transform: translate(120px, 100px) rotate(-300deg);
}
    
}

@-webkit-keyframes seed-travel-five {
    
    0% {
        -webkit-transform: translateY(0px) rotate(50deg);
    }
    
    20% {
        -webkit-transform: translate(80px, -60px) rotate(-100deg);
        }
    
    40% {
        -webkit-transform: translate(120px, -30px) rotate(200deg);
        }
    
     60% {
        -webkit-transform: translate(180px, -80px) rotate(-360deg);
        }
    
     80% {
        -webkit-transform: translate(230px, 100px) rotate(200deg);
        }
    
    100% {
        -webkit-transform: translate(250px, 150px) rotate(-10deg);
}
    
}