html {
    font-family: 'Univers' 'Helvetica' sans-serif;
}

.panel {
    display: none; 
    position: absolute;
}

.js-panel-open {
    display: block;
}

.btn {
    background-image: url(../images/nav-toggle-01.svg);
    border: none;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}


.top-nav {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 5px;
}

.top-nav-li {
    background-color: #FF6666;
    margin: 0;
    padding: 20px 10px;
}

.top-nav-li-odd {
    margin: 0;
    padding: 20px 10px;
    background-color: #E65C5C;
}


.header {
    height: 90vh;
    background-color: #F2D753;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.title {
    text-align: center;
    margin: auto;
    position: relative;
    top: 40%;
    color: #D84802;
    font-family: 'Lobster', cursive;
    font-size: 8vmax;
    text-shadow: 2px 2px #fff;
}


.subtitles {
    position: relative;
    padding: 20px 0px;
    text-align: center;
    color: #D84802;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    
}