@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
    
html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    overflow-x: hidden;
}

*, *::before, *::after {
box-sizing: inherit;
    
    
    margin: 0;
}

.skip-links {
    display: none;
}

.panel {
    display: none;
}

.js-panel-open {
    display: block;
    position: absolute;
    top: 60px;
}

.top-nav {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 5px;
}

a {
    margin: 0;
    padding: 20px 10px;
    margin: 0;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    transition: color 2ms ease;
    text-decoration: none;
}

a:hover {
    color: #D84802;
}

.top-nav-li {
    padding-right: 10px;
    padding-bottom: 15px;
}


.btn {
    background-image: url(../images/nav-toggle.svg);
    border: none;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: width 2s;
}

.btn:hover {
    width: 40px;
    -webkit-animation: wiggle 10ms alternate infinite;
    -moz-animation: wiggle 10ms alternate infinite;
    animation: wiggle 10ms alternate infinite;
}

@keyframes wiggle {
    
    0% {
        transform: rotate(-5deg)
    }
    
    100% {
        transform:rotate(5deg)
    }
    
    
}


.header {
    height: 90vh;
    background-color: #F2D753;
    width: 100%;
    margin: 0;
    padding: 0;
}

.spin-record {
    width: 180px;
    position: relative;
    top: 140px;
    left: 50%;
    margin-left: -90px;
    -webkit-animation: play-record 3000ms infinite linear;
    -moz-animation: play-record 3000ms infinite linear;
    animation: play-record 3000ms infinite linear;
}


@keyframes play-record {
    0% {
       transform: rotate(0deg) 
    }
    
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes play-record {
    0% {
       transform: rotate(0deg) 
    }
    
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes play-record {
    0% {
       transform: rotate(0deg) 
    }
    
    100% {
        transform: rotate(360deg)
    }
}


.title {
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 8rem;
    color: #D84802;
    font-family: 'Lobster', cursive;
    font-size: 8vmax;
    text-shadow: 2px 2px #fff;
    
    -webkit-animation: zoom 5s ease;
    -moz-animation: zoom 5s ease;
    animation: zoom 5s ease;
}

@keyframes zoom {
     0% {
       transform: scale(0,0); 
    }
    
    100% {
        transform: scale(1,1)
    }
}

@-webkit-keyframes zoom {
    0% {
       transform: scale(0,0); 
    }
    
    100% {
        transform: scale(1,1)
    }
}

@-moz-keyframes zoom {
     0% {
       transform: scale(0,0); 
    }
    
    100% {
        transform: scale(1,1)
    }
}


.arrow {
    width: 50px;
    position: absolute;
    top: 85vh;
    left: 50%;
    margin-left: -30px;
    
    
}

.est {
    margin: auto;
    text-align: center;
    padding: 20px 2px;
    color: #D84802;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}


.about {
    background-color: #D84802;
    overflow: hidden;
}


.subhead {
    font-family: 'Lobster', cursive;
    color: #D84802;
    text-shadow: 2px 2px #fff;
    letter-spacing: 2px;
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 40px;
}

.subhead-two {
    font-family: 'Lobster', cursive;
    color: #D84802;
    text-shadow: 2px 2px #fff;
    letter-spacing: 2px;
    position: relative;
    left: 10px;
    font-size: 40px;
}

.bio {
    position: relative;
    width: 100%;
    padding: 20px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
}

.bio-pic {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    z-index: 1;
}


.vinyl {
    width: 100%;
    padding: 2vw;
}


.pic {
    opacity: 0;
    transition: all 1s linear;
}

.js-switch .pic {
    display: block;
    opacity: 1;
    transition: all 1s linear;
}

#picc {
    transition: all 1s linear;
}

.one {
    padding-top: 1rem;
    overflow: hidden;
    width: 100%;
    left: 0;
}

.move {
    display: block;
    width: 90%;
    margin: auto;
}

.btns {
    background-color: transparent;
    color: #D84802;
    font-family: 'Lobster', cursive;
    padding: 3px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border: #F2D753 solid 1px;
}

.btns:hover {
    color: #F2D753;
    border: #D84802 solid 2px;
}

.surf {
    position: relative;
    left: -100vw;
    
    transition: all 2s linear;
    
    -webkit-animation: surf 500ms infinite linear;
    -moz-animation: surf 500ms infinite linear;
    animation: surf 500ms infinite linear;
}

@keyframes surf {
    0% {
       transform: rotate(-5deg); 
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes surf {
    0% {
       transform: rotate(-5deg); 
    }
    
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes surf {
    0% {
       transform: rotate(-5deg); 
    }
    
    100% {
        transform: rotate(0deg);
    }
}




.js-slide {
    left: 100vw;
}

.hula {
    opacity: 0;
    
    transition: opacity 1s linear;
    
    -webkit-animation: dance 400ms infinite linear;
    -moz-animation: dance 400ms infinite linear;
    animation: dance 400ms infinite linear;
}

@keyframes dance {
    0% {
       transform: rotate(-2deg); 
    }
    
    100% {
        transform: rotate(2deg);
    }
}

@-webkit-keyframes dance {
    0% {
       transform: rotate(-2deg); 
    }
    
    100% {
        transform: rotate(2deg);
    }
}

@-moz-keyframes dance {
    0% {
       transform: rotate(-2deg);
    }
    
    100% {
        transform: rotate(2deg);
    }
}



.js-fade {
    opacity: 100;
}

.truck {
    position: relative;
    right: -100vw;
    
    transition: all 2s linear;
}

.js-slide-left {
    right: 100vw;
}


.bottom {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #F2D753;
}


.waves {
    width: 110%;
    left: -5%;
    margin-bottom: -1rem;
}

.bottom-arrow {
    width: 50px;
    position: relative;
    top: 15px;
    left: 50%;
    margin-left: -25px;
}

#boat {
    -webkit-animation: boat 10s ease infinite alternate;
    -moz-animation: boat 10s ease infinite alternate;
    animation: boat 10s ease infinite alternate;
}


@keyframes boat {
    0% {
       transform: translateX(0);
    }
    
    100% {
        transform: translateX(200%);
    }
}

@-webkit-keyframes boat {
    0% {
       transform: translateX(0); 
    }
    
    100% {
        transform: translateX(200%);
    }
}

@-moz-keyframes boat {
    0% {
       transform: translateX(0); 
    }
    
    100% {
        transform: translateX(200%);
    }
}


#middle_wave {
    -webkit-animation: rock-left 1s infinite alternate;
    -moz-animation: rock-left 1s infinite alternate;
    animation: rock-left 1s infinite alternate;
}

@keyframes rock-left {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes rock-left {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@-moz-keyframes rock-left {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

#front_wave {
     -webkit-animation: rock-right 500ms infinite alternate;
    -moz-animation: rock-right 500ms infinite alternate;
    animation: rock-right 500ms infinite alternate;
}


@keyframes rock-right {
    0% {
       transform: translateY(-3%);
    }
    
    100% {
        transform: translateY(1%);
    }
}

@-webkit-keyframes rock-right {
    0% {
       transform: translateY(-3%);
    }
    
    100% {
        transform: translateY(1%);
    }
}

@-moz-keyframes rock-right {
    0% {
       transform: translateY(-3%);
    }
    
    100% {
        transform: translateY(1%);
    }
}

#behind_wave {
    -webkit-animation: slow-rock 13s infinite alternate;
    -moz-animation: slow-rock 13s infinite alternate;
    animation: slow-rock 13s infinite alternate;
}

@keyframes slow-rock {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slow-rock {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}

@-moz-keyframes slow-rock {
    0% {
       transform: translateX(-6%);
    }
    
    100% {
        transform: translateX(0%);
    }
}


@media only screen and (min-width: 25em) {

 
 
    
    
}


@media only screen and (min-width: 38em) {

  
       .unit-m-1-6 {
        width: 16.6667%;
}

    
}


@media only screen and (min-width: 50em) {

    
    
}


@media only screen and (min-width: 90em) {

    
  
    
}

